body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.header-links {
    margin-left: auto;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
}